<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán đơn đặt Tour</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.5; margin: 0; padding: 0; background-color: #f4f4f4;">
<div style="padding: 20px; max-width: 600px; margin: auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #007BFF;">Thanh toán đơn đặt Tour - Koi Booking System</h1>
    <p>Chào <span th:text="${customerName}"></span>,</p>
    <p>Chúng tôi đã xác nhận yêu cầu đặt tour của bạn và đã tiến hành tạo một tour liên quan đến những yêu cầu mà bạn đã đề ra.</p>
    <p>Đơn đặt tour của bạn:</p>
    <strong>Booking ID:</strong> <span th:text="${bookingId}"></span><br>
    <strong>Tên Tour:</strong> <span th:text="${tourName}"></span>
    <p>Để hoàn tất thủ tục đặt tour theo yêu cầu, vui lòng thanh toán đơn đặt tour này trong vòng 24 giờ kể từ khi nhận mail này.</p>
    <p>Nhấn nút dưới đây để thực hiện quy trình thanh toán đơn đặt tour:</p>

    <table role="presentation" style="border-collapse: collapse;">
        <tr>
            <td style="border-radius: 5px; background-color: #007BFF;">
                <a href="https://google.com"
                   class="button"
                   th:href="${link}"
                   style="display: inline-block; padding: 10px 20px; color: white; text-decoration: none; border-radius: 5px;">
                    Thanh toán đơn hàng
                </a>
            </td>
        </tr>
    </table>

    <p>Lưu ý: Sau 24 giờ kể từ khi nhận mail này, nếu bạn không thanh toán đơn hàng, yêu cầu của bạn sẽ bị hủy bỏ.</p>
    <p>Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi qua email: <a href="mailto:tranlenhat123456@gmail.com">tranlenhat123456@gmail.com</a>.</p>
    <p>Cảm ơn bạn,<br>SWP391 Team 2</p>
</div>
</body>
</html>