.tour-detail-container {
    padding: 20px;
}

.tour-title {
    text-align: left;
    margin-bottom: 20px;
    color: blue;
    font-size: 32px;
}

.tour-detail-content {
    display: flex;
    justify-content: space-between; /* Đảm bảo nội dung và hình ảnh được giãn đều */
    align-items: flex-start;
    gap: 20px; /* Khoảng cách giữa ảnh và nội dung */
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng box-shadow */
}

.tour-left {
    flex: 1;
    max-width: 50%; /* Giới hạn chiều rộng của ảnh */
}

.tour-detail-image {
    width: 75%; /* Ảnh sẽ chiếm toàn bộ chiều rộng của .tour-left */
    height: auto;
    border-radius: 10px;
}

.tour-right {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Đảm bảo nội dung được căn giữa theo chiều dọc */
}

.tour-description-form {
    display: flex;
    flex-direction: column;
}

.tour-description {
    margin-bottom: 20px;
}

.tour-right h2 {
    font-size: 28px;
    color: #007bff;
    margin-bottom: 15px;
}

.tour-right p {
    margin: 5px 0;
    font-size: 20px;
    line-height: 1.6;
    color: black;
}

.tour-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.tour-button:hover {
    background-color: #0056b3;
}

.koi-varieties-section1 {
    margin-top: 50px;
    text-align: center;
  }
  
  .koi-title1 {
    font-size: 28px;
    font-weight: bold;
    color: #ff4500; /* Highlighting color */
    margin-bottom: 20px;
  }
  
  .koi-varieties1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .koi-item1 {
    width: 200px;
    text-align: center;
  }
  
  .koi-image1 {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .koi-image1:hover {
    transform: scale(1.05);
  }
  
  .koi-name1 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
