.tour-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour-main-content {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.tour-detail-header {
  text-align: center;
  margin-bottom: 20px;
}

.tour-content-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  margin-bottom: 25px;
  font-size: 30px;
  color: #333;
}

.tour-image-section {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tour-detail-image {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

.tour-info-section {
  flex: 2;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.tour-info-content {
  margin-left: 180px;
}

.tour-info-section p,
.tour-price {
  margin: 8px 0;
}

.tour-price {
  font-size: 1.5em;
  color: #ff5733;
  font-weight: bold;
}

.tour-button {
  background-color: #ff5733;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.tour-schedule-section {
  margin-top: 30px;
}

.schedule-item {
  margin-bottom: 15px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #ff5733;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.Note {
  font-style: italic; 
  font-weight: bold; 
  color: #d9534f;
  width: 85%;
  margin-left: 100px;  
}

.Combo {
  text-align: left;
  margin-top: 20px;
}

.combo-tour-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.combo-tour-item {
  width: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;

}

.combo-tour-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;

}

.combo-tour-item h3 {
  font-size: 18px;
  margin: 10px 0;
}

.combo-tour-item p {
  font-size: 14px;
  color: #555;
}

button {
  background-color: #8B7765;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}