.booking-page {
  font-family: Arial, sans-serif;
  max-width: 1600px; /* Adjusted max width for better responsiveness */
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* padding: 20px; */
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.booking-process {
  margin-bottom: 30px;
  text-align: center;
}

.process-steps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px; /* Increased margin for better spacing */
}

.circle-icon {
  width: 50px; /* Slightly larger circle */
  height: 50px; /* Slightly larger circle */
  border-radius: 50%;
  background-color: #007bff; /* Màu xanh */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Increased font size for better visibility */
}

.arrow {
  font-size: 24px; /* Kích thước mũi tên */
  margin: 0 10px;
}

.booking-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px; /* Khoảng cách giữa các nhóm */
  max-width: 800px; /* Giới hạn chiều rộng của form */
  margin: 0 auto; /* Canh giữa form */
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #007bff;
  margin-bottom: 15px;
  font-size: 22px;
}

.form-group-book {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Khoảng cách giữa label và input */
}

.form-group-book input[type="text"],
.form-group-book input[type="tel"],
.form-group-book input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-group-book input[type="radio"] {
  margin-right: 10px;
}

.submit-button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}


.notes-section {
  margin-top: 20px; /* Increased margin for better spacing */
}

.form-group-book label {
  margin-top: 10px;
}
