
.farm-detail-content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.farm-detail-image {
  width: 250px;
  height: auto;
  border-radius: 8px;
}

.famous-varieties-title {
  font-size: 1.8rem;
  margin-top: 30px;
  text-align: center;
}

.variety-section {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 4px 4px 4px 4px grey;
  height: auto;

}

.variety-slider {
  display: flex;
  justify-content: center; /* Căn giữa hình ảnh */
  align-items: center;
}

.variety-image {
  width: 80%; /* Đặt chiều rộng hình ảnh */
  height: auto; /* Chiều cao tự động */
  border-radius: 8px; /* Bo tròn góc hình ảnh */
  aspect-ratio: 0.9;
}

/* Tùy chỉnh mũi tên trong Carousel */
.ant-carousel .slick-arrow {
  z-index: 1; /* Đảm bảo mũi tên không bị che khuất */
}

/* Đặt kích thước cho Carousel */
.ant-carousel {
  width: 100%; /* Đặt chiều rộng carousel */
}

/* Đặt chiều rộng cho hình ảnh trong slider */
.variety-image {
  width: 100%; /* Đặt chiều rộng hình ảnh */
  max-width: 200px; /* Đặt chiều rộng tối đa cho hình ảnh */
}

.back-button {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff; /* Example color */
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

