<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yêu cầu đặt lại mật khẩu</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.5; margin: 0; padding: 0; background-color: #f4f4f4;">
<div style="padding: 20px; max-width: 600px; margin: auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
  <h1 style="color: #007BFF;">Yêu cầu đặt lại mật khẩu cho Koi Booking System</h1>
  <p>Chào <span th:text="${name}"></span>,</p>
  <p>Chúng tôi nhận được yêu cầu từ bạn về việc đặt lại mật khẩu cho tài khoản được liên kết với email này <span th:text="${email}"></span>.</p>

  <p>Mã xác nhận của bạn để đặt lại mật khẩu là: <strong th:text="${resetCode}"></strong></p>

  <p>Mã này có hiệu lực trong vòng 1 giờ</p>

  <p>Nếu bạn không đưa ra yêu cầu đặt lại mật khẩu, hãy bỏ qua email này. Mật khẩu của bạn sẽ không được thay đổi.</p>
  <p>Nếu bạn có thắc mắc hoặc yêu cầu hỗ trợ, vui lòng để lại thông tin cho chúng tôi <a href="mailto:tranlenhat123456@gmail.com">tranlenhat123456@gmail.com</a>.</p>
  <p>Thân ái,<br>SWP391 Team 2</p>
</div>
</body>
</html>
