<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chào mừng đến với Koi Booking System</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.5; margin: 0; padding: 0; background-color: #f4f4f4;">
<div style="padding: 20px; max-width: 600px; margin: auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #007BFF;">Chào mừng đến với Koi Booking System!</h1>
    <p>Chào <span th:text="${name}"></span>,</p>
    <p>Cảm ơn bạn đã đăng ký tài khoản trên Koi Booking System.</p>
    <p>Để hoàn tất đăng ký, vui lòng nhập mã xác thực sau:</p>

    <h2 style="text-align: center; font-size: 24px; color: #007BFF;">
        <span th:text="${registrationCode}"></span>
    </h2>

    <p>Mã này sẽ hết hạn trong 1 giờ.</p>
    <span>Lưu ý: bạn phải hoàn thành bước này để tài khoản của bạn có hiệu lực</span>

    <p>Nếu bạn có thắc mắc hoặc yêu cầu hỗ trợ, vui lòng liên hệ với chúng tôi qua email:
        <a href="mailto:tranlenhat123456@gmail.com">tranlenhat123456@gmail.com</a>.
    </p>
    <p>Cảm ơn bạn,<br>SWP391 Team 2</p>
</div>
</body>
</html>
