.footer {
  background-color: rgb(190, 245, 207);
  color: black;
  padding: 20px 0;
  width: 100%;
  margin-top: 50px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 15px;
}

.footer p,
.footer ul,
.footer a {
  color: #333;
  font-size: 15px;
  margin: 5px 0;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: #0056b3; /* Hover color for links */
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

.footer .col-md-4 {
  margin-bottom: 20px;
}

/* Center text on small screens */
@media (max-width: 768px) {
  .footer .row {
      text-align: center;
  }
}

.footer-bottom {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-size: 14px;
  color: #666;
}