/* Footer */
.footer {
    background-color: rgb(190, 245, 207);
    color: black;
    padding: 20px;
    width: 100%;
    margin-top: 50px;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .footer-info h3 {
    margin-bottom: 10px;
  }
  
  .footer-info p {
    margin: 5px 0;
  }
  
  .footer-copyright {
    text-align: center;
  }
  
  .footer-copyright p {
    margin: 0;
  }