.tour-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;

  }
  
  .tour-card {
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0; /* Viền màu xám nhạt */
    border-radius: 8px; /* Bo góc thẻ để nhìn mềm mại hơn */
  }
  
  .tour-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .tour-info h3 {
    margin-bottom: 8px;
  }
  
  .tour-info p {
    margin: 4px 0;
  }
  
  .tour-schedules {
    margin-top: 10px;
  }
  
  .schedule-description {
    white-space: pre-line;
    margin-top: 5px;
  }
  
  img {
    border-radius: 8px;
  }
  .image-container {
    width: 100%;
    height: 200px; /* Chiều cao cố định của khung ảnh */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ẩn phần thừa của ảnh nếu có */
  }
  
  .tour-card .ant-image img {
    width: 100%; /* Đảm bảo ảnh lấp đầy theo chiều ngang */
    height: 100%; /* Đảm bảo ảnh lấp đầy theo chiều dọc */
    object-fit: contain; /* Ảnh được giữ nguyên tỷ lệ và nằm trong khung */
    object-position: center; /* Căn giữa ảnh trong khung */
  }
  