/* Main container for Reset Password page */
.reset-password-container {
  background-image: url('./assets/background.gif'); /* Add your image path here */
  background-size: cover; /* Ensure the background covers the entire container */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Make sure it takes the full height of the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rokkitt;
  }
  
  
  .password-input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .password-input-container input {
    width: 350px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #333;
  }
  
  .reset-btn {
    padding: 10px 12px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .reset-btn:hover {
    background-color: #0056b3;
  }

  .back-link {
    display: block; /* Ensure it takes up a full line */
    margin-top: 20px; /* Space below the link */
    text-decoration: none; /* Remove underline */
    color: #007bff; /* Link color */
    font-weight: bold; /* Make the link bold */
  }
  